@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,600");
* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0.75em;
  font-size: 100%;
  font-family: "Open Sans", sans-serif;
  color: rgba(0, 0, 0, 0.87);
}

header {
  margin: 0.75em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.54);
  padding: 0.75em 0;
}

main {
  margin: 0.75em;
}

#title {
  font-weight: 600;
  font-size: 1.5em;
  color: rgba(0, 0, 0, 0.54);
}

#title a {
  color: rgba(0, 0, 0, 0.54);
}

#subtitle {
  font-weight: 600;
  font-size: 1.5em;
  color: rgba(192, 80, 70, 0.87);
}

#subtitle a, li a {
  color: rgba(192, 80, 70, 0.87);
}

h1 {
  font-weight: 300;
  font-size: 1.5em;
}

h1 a {
  color: rgba(0, 0, 0, 0.87);
}

h2 {
  padding: 1em 0 0 0;
  font-weight: 600;
  font-size: 1em;
  color: rgba(192, 80, 70, 0.87);
}

h2 a {
  color: rgba(192, 80, 70, 0.87);
}

p, li {
  font-weight: 300;
  font-size: 1em;
}

p + p {
  margin-top: 0.5em;
}

a {
  text-decoration: none;
}

a:hover {
  background-color: rgba(0, 0, 0, 0.125);
  border-radius: 0.2em;
}

p a:hover, li a:hover, h2 a:hover {
  background-color: rgba(192, 80, 70, 0.25);
}

#subtitle a:hover {
  background-color: rgba(192, 80, 70, 0.25);
}

p a {
  color: rgba(192, 80, 70, 0.87);
}

strong {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.54);
}

ul {
  list-style: none;
  padding-left: 0.75em;
  position: relative;
}

li:before {
  content: "-";
  position: absolute;
  left: 0;
}

footer {
  clear: both;
  margin: 0.75em;
  padding: 0.75em 0;
  border-top: 1px solid rgba(0, 0, 0, 0.54);
}
footer p {
  color: rgba(0, 0, 0, 0.54);
}
footer div {
  width: 100%;
  float: left;
}

article {
  clear: both;
}

article img {
  float: left;
  height: 4em;
  padding: 0.5em 0.5em 0 0;
}

@media only screen and (max-width: 768px) {
  body {
    margin: 0;
  }

  header {
    margin-top: 0;
  }
}
