$colour_primary: #C05046;
$alpha_normal: 87%;
$alpha_light: 54%;

html {
	background-color: #EEEEEE;
}

body {
	background-color: white;
}

#title, #title a {
	color: rgba($color:black, $alpha: $alpha_light);
}

#subtitle, #subtitle a {
	color: rgba($color:$colour_primary, $alpha: $alpha_normal);
}

h1 {
	color: rgba($color:black, $alpha: $alpha_light);
}

h2 {
	color: rgba($color:black, $alpha: $alpha_light);
}

p, ul {
	color: rgba($color:black, $alpha: $alpha_normal);	
}

strong {
	color: rgba(black, $alpha_light);    
}

a {
	color: rgba($color:$colour_primary, $alpha: $alpha_normal);
}

a:hover {
	background-color: rgba($color:$colour_primary, $alpha: $alpha_light/2);
	border-radius: 0.2em;
}

article {
	background-color: rgba($colour_primary, 5%);
}

footer {
	p {
		color: rgba($color:black, $alpha: $alpha_light);
	}
}