// set the color scheme
$primary: #009688;
$secondary: #ffc107;
$light-background: rgb(250, 250, 250);
$dark-background: rgb(33, 33, 33);

// derived colors
$black54: rgba(black, .54);
$black87: rgba(black, .87);
$white54: rgba(white, .54);
$white87: rgba(white, .87);
$primary54: rgba($primary, .54);
$primary87: rgba($primary, .87);
$secondary54: rgba($secondary, .54);
$secondary87: rgba($secondary, .87);