$colour_white: #FFFFFF;
$colour_black: #000000;
$colour_primary: #C05046;

$alpha_normal: 87%;
$alpha_light: 54%;

html {
	background-color: #EBEBEB;
	
body {
	background-color: $colour_white;
	
		a {
			color: rgba($color:$colour_primary, $alpha: $alpha_normal);
		}

		a:hover {
			background-color: rgba($color:$colour_primary, $alpha: $alpha_light/2);
			border-radius: 0.2em;
		}

		header {
			#title, #title a {
				color: rgba($color:$colour_black, $alpha: $alpha_light);
			}

			#subtitle, #subtitle a {
				color: rgba($color:$colour_primary, $alpha: $alpha_normal);
			}

			h1 {
				color: rgba($color:$colour_black, $alpha: $alpha_light);
			}
		}

		main {
			article {
				background-color: rgba($colour_primary, 5%);

				h2 {
					color: rgba($color:$colour_black, $alpha: $alpha_light);
				}

				p {
					color: rgba($color:$colour_black, $alpha: $alpha_normal);
				}
			}
		}

		footer {
			p {
				color: rgba($color:$colour_black, $alpha: $alpha_light);
			}
		}
	}
}