$colour_primary: #C05046;
$colour_background: #EEEEEE; // Material Grey 200
$primary_text: 87%;
$secondary_text: 54%;
$disabled_text: 38%;
$dividers: 12%;

html {
	background-color: $colour_background;
}

body {
	background-color: white;
}

#cookieNotice {
	background-color: rgba(black, $secondary_text);

	p, a, h3 {
		color: rgba(white, $primary_text);
		background-color: transparent;
	}

	a:hover {
		color: white;
	}
}

#pad {
	background-color: white;
}

#sticky {
	background-color: white;
	border-color: rgba($color: black, $alpha: $dividers);
}

article {
	background-color: rgba($colour_primary, 5%);
}

#title, #title a {
	color: rgba($color:black, $alpha: $secondary_text);
}

h1, h1 a {
	color: rgba($color:$colour_primary, $alpha: $primary_text);
}

h2, h2 a {
	color: rgba($color:black, $alpha: $secondary_text);
}

h3 {
	color: rgba($color:black, $alpha: $secondary_text);
}

p, ul {
	color: rgba($color:black, $alpha: $primary_text);	
}

strong {
	color: rgba(black, $secondary_text);    
}

a, .icon {
	color: rgba($color:$colour_primary, $alpha: $primary_text);
}

a:hover, .icon:hover {
	background-color: rgba($color:$colour_primary, $alpha: 10%);
}

footer {
	border-color: rgba($color: black, $alpha: $dividers);

	p {
		color: rgba($color:black, $alpha: $secondary_text);
	}
}

input {
	color: rgba($color: black, $alpha: $secondary_text);
	border-color: rgba($color: black, $alpha: $dividers);
}