// set the color scheme
$primary: #009688;
$secondary: #ffc107;

$light-background: rgb(250, 250, 250);
$dark-background: rgb(33, 33, 33);

$light-text: #ffffff;
$light-text54: rgba($light-text, .54);
$light-text87: rgba($light-text, .87);

$dark-text54: rgba(0, 0, 0, .54);
$dark-text87: rgba(0, 0, 0, .87);

// derived colors
$primary54: rgba($primary, .54);
$primary87: rgba($primary, .87);
$secondary54: rgba($secondary, .54);
$secondary87: rgba($secondary, .87);