@import 'canvas';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,600,600i');
 
 body {
   font-family: 'Open Sans', sans-serif;
   font-weight: 300;
   font-size: 100%;
   text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
   text-rendering: optimizeLegibility
}

main {
	h1 {
		font-weight: 600;
		font-size: 100%;
		text-transform: uppercase;
	}

	h2 {
		font-weight: 600;
		font-size: 100%;
	}

	p + h1 {
		margin-top: 0.75em;
	}

	ul + h1 {
		margin-top: 0.75em;
	}

	p + h2 {
		margin-top: 0.5em;
	}

	p + p {
		margin-top: 0.25em;
	}
}

a {
	text-decoration: none;
}

footer {
	h1 {
		font-weight: 600;
		font-size: 85%;
	}

	p {
		font-size: 85%;
	}

	a {
		font-size: 85%;
		text-decoration: none;
	}
}

ul {
    list-style: none;
    padding-left: 0.75em;
}

ul > li:before {
	content: "-";
	display: inline-block;
	width: 0.75em;
	margin-left: -0.75em;
}