@import url("https://use.fontawesome.com/f07da16824.css");

.avatar {
	float: right;
	border-radius: 50%;
	max-height: 4.5em;
	max-width: 4.5em;
	margin-left: 1em;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.social {
	margin: 0 0 -0.5em -0.5em;
	font-size: 1.5em;
}

.icon {
	padding: 0.25em;
	font-size: 1.5em;
}

.icon + .icon {
	margin-right: -0.25em;
}