@import url("https://use.fontawesome.com/f07da16824.css");

img.avatar {
	float: right;
	border-radius: 50%;
	max-height: 4.5em;
	max-width: 4.5em;
	margin-left: 1em;
}

i {
	padding: 0.25em 0.5em 0 0;	
}