@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,600');

/* reset all elements */

* {
	margin: 0;
	border: none;
	padding: 0;
}

/* page background */

html {
	background: #EEEEEE;
}

/* configure the body element as the main canvas */

body {
	margin: 0 auto;

	max-width: 1200px;

	position: relative;

	box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);

	background: #FFFFFF;

	font-size: 100%;
	font-family: 'Open Sans', sans-serif;
	-webkit-text-size-adjust: 100%;
}

/* configure the content elements */

h1 {
	font-weight: 600;
	font-size: 1.5em;
	color: rgba(0, 0, 0, .54);
}

h2 {
	font-weight: 600;
	font-size: 1.5em;

	color: rgba(192, 80, 70, .87);
}

h3 {
	font-weight: 600;
	font-size: 1em;

	color: rgba(0, 0, 0, .54);
}

h4 {
	font-weight: 600;
	font-size: 1em;
}

p {
	font-weight: 300;
	font-size: 1em;
}

a {
	font-weight: 300;
	font-size: 1em;

	text-decoration: none;

	color: rgba(192, 80, 70, .87);
}

a:hover {
	background: rgba(192, 80, 70, .12);

}

blockquote {
	font-weight: 300;
	font-size: 1.5em;
	font-style: italic;
	display: block;
	max-width: 24em;
	margin: 0 auto;
}

/* configure the structural elements */

header {
	background: #424242;

	text-align: center;
}

header blockquote {
	padding: 2em 0 0 0;
	color: rgba(255, 255, 255, .87);
}

header p {
	padding: 2em;
	font-size: 1.25em;
	font-weight: 600;
	color: rgba(255, 255, 255, .54);
}

nav {
	padding: 0 1em;

	position: sticky;
	position: -webkit-sticky;
	top: 0;

	font-size: 85%;

	background: #757575;
}

nav a {
	display: inline-block;
	padding: 0.75em;

	font-weight: 600;

	white-space: nowrap;
	color: rgba(255, 255, 255, 0.87);
}

nav a:hover 
{
	background: rgba(255, 255, 255, .12);
}

.dropdown {
	display: inline-block;
	position: relative;
}

.menuContainer {
	position: absolute;
	display: none;
	background: #757575;
	left: 0;
}

.menuContainer a {
	display: block;
	padding: 0.75em;
}

.dropdown:hover .menuContainer {
	display: block;
}

main {
	padding: 2em 0.75em 2em 0.75em;

	background: #FFFFFF;

	display: flex;
	flex-wrap: wrap;
}

main p {
	padding: 0 0 0.5em 0;
}

main a:hover {
	background: rgba(192, 80, 70, .12);
}

footer {
	padding: 0.75em;

	background: #757575;
	color: rgba(255, 255, 255, 0.87);
	font-size: 0.85em;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

footer+footer {
	padding-top: 0;
}

footer a {
	display: block;
	color: rgba(255, 255, 255, 0.87);
}

footer a:hover {
	background: rgba(255, 255, 255, .12);
}


aside {
	padding: 0.75em;

	flex-basis: 250px;
	flex-grow: 1;
}

section {
	padding: 0.75em;

	flex-basis: 250px;
	flex-grow: 2;
}

.avatar {
	float: right;
	border-radius: 50%;
	max-height: 7.5em;
	max-width: 7.5em;
	margin-left: 1em;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#cookieNotice {
	padding: 1.5em;
	display: block;
}

#cookieAccept {
	float: right;
}
