body {
	.three {
		@media only screen and (max-width: 1000px) {
			column-count: 2;
		}
			
		@media only screen and (max-width: 800px) {
			column-count: 1;
		}
	}
			
	nav, header, main, footer {
		@media only screen and (max-width: 600px) {
			margin: 0 0.75em;
		}
	}
}