@import 'header';

main > section > h1 {
	padding: 0.75em 0.75em 0em 0.75em;
}

main > section > p {
	padding: 0 0.75em 0.75em 0.75em;
}

article p+p {
	padding: 0.5em 0 0 0;
}

article ul+p {
	padding: 0.5em 0 0 0;
}

#services {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#services article {
	flex-basis: 400px;
	flex-grow: 2;
}

#about {
	display: flex;
	flex-direction: column;
	padding:0;
}

#about #splash {
	height: 6em;
	background-image: url("../images/sw.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

#about article {
	position: relative;
	background: #FAFAFA;
	padding: 1.5em;
}

#about article .avatar {
	max-width: 5em;
	border-radius: 50%;

	position: absolute;
	top: -2.7em;
	left: 0;
	right: 0;
	margin: auto;

	border: solid 0.25em #FAFAFA;
}

#contact {
	background: rgb(84, 110, 122);
	color: rgba(255, 255, 255, 0.87);
}