@import 'material';
@import 'responsive';

body {
    margin: 0 auto;
	
    background: $light-background;
    color: $black87;

    font-family: 'RobotoDraft', sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

header {
    background-color: $primary;
    color: $white87;

	h1 {
		@include text-display-2;
	}

	h2 {
		@include text-headline;
		a:link, a:visited, a:hover, a:active {
		    color: $white87;
		}
	}
}

main {
	h1 {
		@include text-display-1;
		color: $black54;
	}
	
	h2 {
		@include text-title;
		color: $black54;
	}
}

footer {
    background: $dark-background;
    color: $white87;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 48px 8%;
}

h1, h2, h3, h4 {
    margin: 0;
}

p {
	@include text-body;

    max-width: 40em;
    margin: 8px 0;
}

a:link, a:visited, a:hover, a:active {
    color: $primary87;
    text-decoration: none;
}