@import url("https://use.fontawesome.com/f07da16824.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,600");
* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  background-color: #EEEEEE;
}

body {
  background-color: white;
}

#pad {
  background-color: white;
}

nav {
  background-color: white;
  border-color: rgba(0, 0, 0, 0.12);
}

article {
  background-color: rgba(192, 80, 70, 0.05);
}

#title, #title a {
  color: rgba(0, 0, 0, 0.54);
}

#subtitle, #subtitle a {
  color: rgba(192, 80, 70, 0.87);
}

h1, h1 a {
  color: rgba(0, 0, 0, 0.54);
}

h2 {
  color: rgba(0, 0, 0, 0.54);
}

p, ul {
  color: rgba(0, 0, 0, 0.87);
}

strong {
  color: rgba(0, 0, 0, 0.54);
}

a {
  color: rgba(192, 80, 70, 0.87);
}

a:hover {
  background-color: rgba(192, 80, 70, 0.1);
  border-radius: 0.2em;
}

footer {
  border-color: rgba(0, 0, 0, 0.12);
}
footer p {
  color: rgba(0, 0, 0, 0.54);
}

img.avatar {
  float: right;
  border-radius: 50%;
  max-height: 4.5em;
  max-width: 4.5em;
  margin-left: 1em;
}

i {
  padding: 0.25em 0.125em 0 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 100%;
}

#title {
  font-size: 1.5em;
  font-weight: 600;
}

#subtitle {
  font-size: 1.5em;
  font-weight: 600;
}

h1 {
  font-size: 1.5em;
  font-weight: 300;
}

h2 {
  font-size: 1em;
  font-weight: 600;
}

p, ul, li {
  font-size: 1em;
  font-weight: 300;
}

strong {
  font-weight: 600;
}

p + p, p + h2 {
  margin-top: 0.5em;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0.75em;
}

ul > li:before {
  content: "-";
  display: inline-block;
  width: 0.75em;
  margin-left: -0.75em;
}

html {
  height: 100%;
}

body {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 1em #888888;
  min-height: 100%;
}

#pad {
  margin: 0 1.5em;
  padding: 0.75em 0 0 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

nav {
  margin: 0 1.5em;
  padding: 0 0 0.75em 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0.75em;
  border-style: solid;
  border-bottom-width: 0.125em;
}

header {
  margin: 0 1.5em;
}

main {
  margin: 0 1.5em;
  padding: 0.75em 0;
}

.three {
  column-count: 3;
  column-gap: 1em;
}

article {
  border-top: 1em solid white;
  padding: 1em;
  page-break-inside: avoid;
  break-inside: avoid;
}

footer {
  border-style: solid;
  border-top-width: 0.125em;
  margin: 0 1.5em;
  padding: 0.75em 0;
}

#menuToggle {
  float: right;
  position: relative;
  cursor: pointer;
  font-size: 1em;
  color: rgba(192, 80, 70, 0.87);
  padding-top: 0.75em;
}

#menuMain {
  position: absolute;
  top: 3em;
  right: 0;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 0 0.75em;
  display: none;
}

.menuItem {
  font-weight: 300;
  display: block;
  padding: 0.75em 0;
}

.menuItem + .menuItem {
  border-top-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.12);
}

.disabled {
  color: rgba(0, 0, 0, 0.38);
}

@media only screen and (max-width: 1000px) {
  body .three {
    column-count: 2;
  }
}
@media only screen and (max-width: 800px) {
  body .three {
    column-count: 1;
  }
}
@media only screen and (max-width: 600px) {
  body #pad, body nav, body header, body main, body footer {
    margin: 0 0.75em;
  }
}
