@import "reset";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,600');

$colour_normal: rgb(0, 0, 0);
$colour_accent: rgb(192, 80, 70);
$font_size_normal: 1em;
$font_size_large: $font_size_normal * 1.5;
$font_weight_normal: 300;
$font_weight_bold: 600;
$line_width: 1px;
$alpha_normal: 87%;
$alpha_light: 54%;

body {
    margin: $font_size_large / 2;

    font-family: 'Open Sans', sans-serif;
    background-color: white;
    color: rgba($colour_normal, $alpha_normal);
}

iframe {
    border: none;
    width: 100%;
}

header {
    margin: $font_size_large / 2;
    border-bottom: $line_width solid rgba($colour_normal, $alpha_light);
    padding: $font_size_large / 2 0;
}

main, section {
    margin: $font_size_large / 2;
}

#title {
    font-weight: $font_weight_bold;
    font-size: $font_size_large;
    color: rgba($colour_normal, $alpha_light) 
}

#title a {
    color: rgba($colour_normal, $alpha_light) 
}

#subtitle {
    font-weight: $font_weight_bold;
    font-size: $font_size_large;
    color: rgba($colour_accent, $alpha_normal) 
}

#subtitle a, li a {
    color: rgba($colour_accent, $alpha_normal) 
}

h1 {
    font-weight: $font_weight_normal;
    font-size: $font_size_large;
    color: rgba($colour_normal, $alpha_light) 
}

h1 a {
    color: rgba($colour_normal, $alpha_normal);
}

h2 {
    padding: 1em 0 0 0;
    font-weight: $font_weight_bold;
    font-size: $font_size_normal;
    color: rgba($colour_normal, $alpha_light) 
}

h2 a {
    color: rgba($colour_accent, $alpha_normal);
}

p, li {
    font-weight: $font_weight_normal;
    font-size: $font_size_normal;
} 

p + p {
    margin-top: $font_size_normal / 2;
}

a {
    text-decoration: none;
    color: rgba($colour_accent, $alpha_normal);
}

a:hover {
    background-color: rgba($colour_normal, 12.5%);
    border-radius: 0.2em;
}

p a:hover, li a:hover, h2 a:hover {
    background-color: rgba($colour_accent, 25%);
}

#subtitle a:hover {
    background-color: rgba($colour_accent, 25%);
}

p a {
    color: rgba($colour_accent, $alpha_normal);    
}

strong {
    font-weight: $font_weight_bold;
    color: rgba($colour_normal, $alpha_light);    
}

ul {
    list-style: none;
    padding-left: 0.75em;
    position: relative;
}

li:before {
    content:"-";
    position: absolute;
    left: 0;
}
    
footer {
    clear: both;
    padding: $font_size_large / 2 0;
    border-top: $line_width solid rgba($colour_normal, $alpha_light);

    p {
        color: rgba($colour_normal, $alpha_light);
    }

    div {
        width: 100%;
        float: left;
    }
}

main {
    column-count: 3;
    column-gap: $font_size_normal;

    article {
        page-break-inside: avoid;
        break-inside: avoid;

        background-color: rgba($colour_accent, 5%);
        border-top: $font_size_normal solid white;
        
        padding: 0 $font_size_normal $font_size_normal $font_size_normal;
    }
}

.maxTwoColumns {
    column-count: 2;
}

main > p {
    column-span: all;
}

@media only screen and (max-width: 1000px) {
    main {
        column-count: 2;
    }    
}

img.avatar {
    margin-top: $font_size_normal;
    margin-left: $font_size_normal;
    max-width: $font_size_large * 3;
    max-height: $font_size_large * 3;
    border-radius: 50%;
    float: right;
}

@media only screen and (max-width: 768px) {
    body {
        margin: 0;
    }

    header {
        margin-top: 0;
    }

    footer {
        margin: $font_size_large / 2;
    }
    
    main, .maxTwoColumns {
        column-count: 1;
    }    
}


// TODO: responsive design
//       - footer layout for desktop/mobile
//       print style sheet