body {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0 0 1em #888888;
}

#cookieNotice {
	padding: 0.75em 1.5em;
}

#cookieAccept {
	float: right;
	cursor: pointer;
	padding-top: 0.125em;
}

#pad {
	margin: 0 1.5em;
	padding: 0.75em 0 0 0;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

header {
	margin: 0 1.5em;
}

#sticky {
	margin: 0 1.5em;
	padding: 0 0 0.75em 0;
	position: -webkit-sticky;
	position: sticky;
	top: 0.75em;
	
	border-style: solid;
	border-bottom-width: 0.125em;

}

main {
	margin: 0 1.5em;
	padding: 0.75em 0;
}

.three {
//	column-count: 2;
	column-width: 375px;
	column-gap: 1em;
}	

article {
	border-top: 1em solid white;
	padding: 1em;
	page-break-inside: avoid;
	break-inside: avoid;
}

sb-footer {
	display: block;
	padding: 1em 1.5em;
}

nav {
	float: right;
	position: relative;
}

#searchToggle {
	font-size: 1.5em;
	cursor: pointer; // NOTE: leave this in as it makes iOS click events work
}

.popup {
	display: none;
	position: absolute;
	top: 2.5em;
	right: 0;
	background-color: white;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	padding: 0.5em;
	white-space: nowrap;
}

sb-menu {
	position: relative;
	cursor: pointer; // NOTE: leave this in as it makes iOS click events work
	
	div {
		position: absolute;
		right: 0.25em;
		top: 2em;

		background-color: white;
		box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
		padding: 0.333em;

		* {
			white-space: nowrap;
			display:  block;
			padding: 0.75em;
			font-family: 'Open Sans', sans-serif;
			font-size: 100%;
			font-size: 0.6667em;
			font-weight: 150;
		}

		* + * {
			border-top-style: solid;
			border-width: 1px;
			border-color: rgba(black, $dividers);
		}
	}
}

/*
sb-menu {
	* {
		white-space: nowrap;
		font-weight: 300;
		display:  block;
		padding: 0.5em;
	}

}
*/
.disabled {
	color: rgba(black, $disabled_text);
}

input {
	-webkit-appearance: none;
	box-shadow: inset 0 0 0 0 white;
	border-style: solid;
	border-width: 0.125em;

	margin: 0.25em;
	padding: 0.25em 0.75em;

	outline: none;
	border-radius: 1em;
}