html {
	height: 100%;
}

body {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0 0 1em #888888;
	min-height: 100%;
}

header {
	margin: 0 1.5em;
	padding: 0.75em 0;
	position: relative;
}

main {
	margin: 0 1.5em;
	padding: 0.75em 0;

	border-bottom: 1px solid rgba(black, $disabled_text);		
	border-top: 1px solid rgba(black, $disabled_text);

	column-count: 3;
	column-gap: 1em;
}	

article {
	border-top: 1em solid white;
	padding: 1em;
	page-break-inside: avoid;
	break-inside: avoid;
}
	
main > h2, main > p, main > ul {
	column-span: all;
}

footer {
	margin: 0 1.5em;
	padding: 0.75em 0;
}