body {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;

	#page {
		box-shadow: 0 0 1em #888888;
		
		header {
			margin: 0 1.5em;
			padding: 0.75em 0;
			border-bottom: 1px solid rgba($colour_black, $alpha_light);		
		}

		main {
			margin: 0 1.5em;
			padding: 0.75em 0;

			column-count: 3;
			column-gap: 1em;
		
			article {
				page-break-inside: avoid;
				break-inside: avoid;
		
				border-top: 1em solid white;
				
				padding: 1em;
			}
		
		}

		main > h2, main > p, main > ul {
			column-span: all;
		}
		
		footer {
			margin: 0 1.5em;
			padding: 0.75em 0;
			border-top: 1px solid rgba($colour_black, $alpha_light);
		}
	}
}