@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,600');

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
}
#title {
	font-size: 1.5em;
	font-weight: 300;
}

#subtitle {
	font-size: 1.5em;
	font-weight: 600;
}

h1 {
	font-size: 1.5em;
	font-weight: 300;
}

h2 {
	font-size: 1em;
	font-weight: 600;
}

p, ul, li, input {
	font-size: 1em;
	font-weight: 300;
}

b {
	font-weight: 600;
}

strong {
    font-weight: 600;
}

p + p, p + h2 {
	margin-top: 0.5em;
}

a {
	text-decoration: none;
}

ul {
    list-style: none;
    padding-left: 0.75em;
}

ul > li:before {
	content: "-";
	display: inline-block;
	width: 0.75em;
	margin-left: -0.75em;
}