h1, h2, h3, p, button {
    font-family: 'Open Sans', sans-serif;
    color: #333333;
    font-weight: 300;
}

h1, h2, h3 {
    text-transform: lowercase;
}

header {
    background: rgba(255, 153, 0, 0.9);
    position: fixed;
    width: 100%;
}

header h1 {
    margin: 0 auto; max-width: 900px;
    padding-top: .5em;
    padding-bottom: .5em;
    font-weight: 400;
    color: #FFFFFF;
}

main {
    padding-top: 4em;
    margin: 0 auto; max-width: 900px;
}

aside {
    padding-top: 2.4em;
    float: right;
    width: 33%;
}

section {
    float: left;
    width: 66%;
}

footer {
    clear: both;
    margin: 0 auto; max-width: 900px;
    text-align: center;
}
