h1, h2, h3, p, th, td, button, li, i, a, a:visited {
  font-family: 'Open Sans', sans-serif;
  color: #333333;
  font-weight: 300;
}

header {
    background: rgba(255, 153, 0, 0.9);
    position: fixed;
    width: 100%;
    padding-top: .5em;
    padding-bottom: .5em;

}

header h1 {
    margin: 0 auto; max-width: 900px;
    padding: .25em 68px;
    color: #FFFFFF;    

    background-image: url("ma_white.png");
    background-repeat: no-repeat;
    background-position: left center;
}

main {
    padding-top: 4.5em;
    margin: 0 auto; max-width: 900px;
}

aside {
    padding-top: 2.4em;
    float: right;
    width: 33%;
}

section {
    float: left;
    width: 100%;
}

table {
  border-collapse: collapse;
}

tbody tr {
  border-top: 1pt solid #7d7d7d;
}

footer {
    clear: both;
    margin: 0 auto; max-width: 900px;
    height: 10em;
    background-color: #444444;
}

footer ul {
    display: inline;
    float: left;
    width: 26%;
}

footer li, footer a, footer a:visited, footer i { 
    text-decoration: none;
    color: #DDDDDD;
}

#copyright {
    clear: both;
    text-align: center;
}

.alert {
    margin-top: 1em;
    background: #FFFF66;
    border: 2px solid #CC9900;
    text-align: center;
}

.alert .fa-close {
    color: #CC9900;
}