h1, h2, h3, p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #333333;
}

header h1 {
    margin: 0 auto; max-width: 900px;
    padding-top: .5em;
    padding-bottom: .5em;
    font-weight: 400;
    color: #FFFFFF;
}

footer {
    text-align: center;
}

main {
    padding-top: 4em;
    margin: 0 auto; max-width: 900px;
}

header {
    background: rgba(255, 153, 0, 0.9);
    position: fixed;
    width: 100%;
}