@font-face {
    font-family: open-sans;
    src: url('https://fonts.googleapis.com/css?family=Open+Sans');
}



p {
font-family: open-sans, sans-serif;
font-style: normal;
font-weight: 300;
font-size: 20px;
}

h2 {

}

