* {
  margin: 0;
  border: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-width: 0; }

body {
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }

section, article {
  padding: 0.75em; }
