@import 'reset';
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
 
 body {
   font-family: 'Open Sans', sans-serif;
   font-weight: 300;
   font-size: 100%;
   text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}

main {
	h1 {
		font-weight: 600;
		font-size: 100%;
		text-transform: uppercase;
	}

	h2 {
		font-weight: 600;
		font-size: 100%;
	}

	p + h2 {
		margin-top: 0.5em;
	}

	p + p {
		margin-top: 0.25em;
	}
}

footer {
	h1 {
		font-weight: 600;
		font-size: 85%;
	}

	p {
		font-size: 85%;
	}

	a {
		font-size: 85%;
		text-decoration: none;
	}
}