nav {
	padding: 0 0.75em;

	position: sticky;
	position: -webkit-sticky;
	top: 0;

	display: flex;

	background: rgb(55, 71, 79); /* Material design Slate Grey 800; #37484F */
}

#menuMain {
	display: inline-block;
	position: relative;
}

#menuController {
	display: none;
}

.menuItem, label[for=menuController] {
	display: inline-block;
	padding: 0.75em;

	font-weight: 600;
	text-decoration: none;

	white-space: nowrap;

	color: rgba(255, 255, 255, 0.87);
}

.menuItem:hover  {
	background: rgba(255, 255, 255, 0.12);
}

@media screen and (min-width: 600px) {
	nav {
		justify-content: space-between;
		flex-direction: row-reverse;
	}

	#menuContainer {
		display: flex;
	}
		
	label[for=menuController] {
		display: none;
	}
}

@media screen and (max-width: 599px) {
	#menuContainer {
		display: none;
		flex-direction: column;
		position: absolute;
	}
	
	#menuController:checked ~ #menuContainer {
		display: flex;

		background: rgb(55, 71, 79); /* Material design Slate Grey 800; #37484F */
	}

	#menuController:checked ~ label[for=menuController] {
		background: rgba(255, 255, 255, 0.12);
	}
}