/*
 * Use web fonts to ensure chosen font is available
 */
 @import url('https://fonts.googleapis.com/css?family=Open+Sans');
 
 body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 100%;
	text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
 }
 
 /*
  * Unify margins, borders and padding for all elements
  */
 * {
	 margin: 0;
	 border: 0;
	 padding: 0;
 }
 
 table {
	 border-collapse: collapse;
	 border-width: 0;
 }
 