@import 'fonts';

// material design colors
$material-orange-50: #FFF3E0;
$material-orange-100: #FFE0B2;
$material-orange-200: #FFCC80;
$material-orange-300: #FFB74D;
$material-orange-400: #FFA726;
$material-orange-500: #FF9800;
$material-orange-600: #FB8C00;
$material-orange-700: #F57C00;
$material-orange-800: #F57C00;
$material-orange-900: #E65100;
$material-orange-A100: #FFD180;
$material-orange-A200: #FFAB40;
$material-orange-A400: #FF9100;
$material-orange-A700: #FF6D00;
$material-gray-50: #FAFAFA;
$material-gray-100: #F5F5F5;
$material-gray-200: #EEEEEE;
$material-gray-300: #E0E0E0;
$material-gray-400: #BDBDBD;
$material-gray-500: #9E9E9E;
$material-gray-600: #757575;
$material-gray-700: #616161;
$material-gray-800: #424242;
$material-gray-900: #212121;
$material-black: #000000;
$material-white: #FFFFFF;

// set our color theme
$primary: $material-gray-700;
$primary-variant: $material-gray-800;
$primary-variant-2: $material-gray-400;

$secondary: $material-orange-700;
$secondary-variant: $material-orange-800;

$background: $material-gray-50;
$surface: $material-white;
$error: #B00020;

$on-primary: $material-white;
$on-secondary: $material-black;
$on-background: $material-black;
$on-surface: $material-black;
$on-error: $material-white;

// apply the color theme to the elements
html {
	background: $material-gray-200;
}

main {
	background: $background;

	h1 {
		color: rgba($primary-variant, 0.87);
	}

	h2 {
		color: rgba($secondary, 0.87);
	}

	p, a {
		color: rgba($on-background, 0.87);
	}
}

nav, footer, #menuContainer {
	background: $primary-variant;
	color: rgba($on-primary, 0.87);

	h1, p, a {
		color: rgba($on-primary, 0.87);
	}

	a:hover  {
		background: rgba(255, 255, 255, 0.12);
	}
}

blockquote {
	background: $primary;
	color: rgba($on-primary, 0.87);
}
