@import 'fonts';
@import 'grey-orange';
//@import 'baseline';

// apply the color theme to the elements
html {
	background: $material-gray-200;
}

main {
	background: $background;

	h1 {
		color: rgba($primary-variant, 0.87);
	}

	h2 {
		color: rgba($secondary, 0.87);
	}

	p, a {
		color: rgba($on-background, 0.87);
	}
}

nav, footer, #menuContainer {
	background: $primary-variant;
	color: rgba($on-primary, 0.87);

	h1, p, a {
		color: rgba($on-primary, 0.87);
	}

	a:hover  {
		background: rgba(255, 255, 255, 0.12);
	}
}

blockquote {
	background: rgba($primary-variant, 0.87);
	color: rgba($on-primary, 0.87);
}
