@import 'material-colors';

// set our color theme
$primary: $material-gray-700;
$primary-variant: $material-gray-800;
$primary-variant-2: $material-gray-400;

$secondary: $material-orange-700;
$secondary-variant: $material-orange-800;

$background: $material-gray-50;
$surface: $material-white;
$error: #B00020;

$on-primary: $material-white;
$on-secondary: $material-black;
$on-background: $material-black;
$on-surface: $material-black;
$on-error: $material-white;