@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,600");
* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 100%;
  font-family: "Open Sans", sans-serif;
  padding: 1.5em;
}

header {
  border-bottom: 0.08em solid rgba(0, 0, 0, 0.54);
  padding-bottom: 0.5em;
}

main {
  padding-top: 1em;
  padding-bottom: 1em;
}

#title {
  font-weight: 600;
  font-size: 1.5em;
  color: rgba(0, 0, 0, 0.54);
}

#subtitle {
  font-weight: 600;
  font-size: 1.5em;
  color: rgba(192, 80, 70, 0.87);
}

h1 {
  font-weight: 300;
  font-size: 1.5em;
  color: rgba(0, 0, 0, 0.87);
}

h2 {
  margin: 1em 0 0 0;
  font-weight: 600;
  font-size: 1em;
  color: rgba(192, 80, 70, 0.87);
}

p {
  font-weight: 300;
  font-size: 1em;
  color: rgba(0, 0, 0, 0.87);
}

p + p {
  margin-top: 0.5em;
}

footer {
  clear: both;
  border-top: 0.08em solid rgba(0, 0, 0, 0.54);
  padding-top: 0.5em;
}
footer p {
  color: rgba(0, 0, 0, 0.54);
}
