@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,600');

$colour_normal: rgb(0, 0, 0);
$colour_accent: rgb(192, 80, 70);
$font_size_normal: 1em;
$font_size_large: $font_size_normal * 1.5;
$weight_normal: 300;
$weight_bold: 600;
$line_width: 0.08em;

* {
    margin: 0;
    padding: 0
}

body {
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    margin: $font_size_normal;
}

header {
    margin: $font_size_normal;
    border-bottom: $line_width solid rgba($colour_normal, 0.54);
    padding: $font_size_normal 0;
}

main {
    margin: $font_size_normal;
}

#title {
    font-weight: $weight_bold;
    font-size: $font_size_large;
    color: rgba($colour_normal, 0.54) 
}

#subtitle {
    font-weight: $weight_bold;
    font-size: $font_size_large;
    color: rgba($colour_accent, 0.87) 
}

h1 {
    font-weight: $weight_normal;
    font-size: $font_size_large;
    color: rgba($colour_normal, 0.87);
}

h2 {
    padding: 1em 0 0 0;
    font-weight: $weight_bold;
    font-size: $font_size_normal;
    color: rgba($colour_accent, 0.87) 
}

p {
    font-weight: $weight_normal;
    font-size: $font_size_normal;
    color: rgba($colour_normal, 0.87);
} 

p + p {
    margin-top: $font_size_normal / 2;
}

p a {
    color: rgba($colour_accent, 0.87);
    text-decoration: none;
}

p a:hover {
    background-color: rgba($colour_accent, 0.25) ;
}


footer {
    clear: both;
    margin: $font_size_normal;
    padding: $font_size_normal 0;
    border-top: $line_width solid rgba($colour_normal, 0.54);

    p {
        color: rgba($colour_normal, 0.54);
    }
}
