@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,600');

$colour_normal: rgb(0, 0, 0);
$colour_accent: rgb(192, 80, 70);
$font_size_normal: 1em;
$font_size_large: $font_size_normal * 1.5;
$weight_normal: 300;
$weight_bold: 600;
$line_width: 0.08em;

body {
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    padding: $font_size_large;
    margin: 0;
}

header {
    border-bottom: $line_width solid rgba($colour_normal, 0.54);
    padding-bottom: $font_size_normal / 2;
}

main {
    padding-top: $font_size_normal;
    padding-bottom: $font_size_normal;
}

#title {
    font-weight: $weight_bold;
    font-size: $font_size_large;
    color: rgba($colour_normal, 0.54) 
}

#subtitle {
    font-weight: $weight_bold;
    font-size: $font_size_large;
    color: rgba($colour_accent, 0.87) 
}

h1 {
    font-weight: $weight_normal;
    font-size: $font_size_large;
    color: rgba($colour_normal, 0.87);
    margin: 0;
}

h2 {
    padding: 0;
    margin: 1em 0 0 0;
    font-weight: $weight_bold;
    font-size: $font_size_normal;
    color: rgba($colour_accent, 0.87) 
}

p {
    padding: 0;
    margin: 0;
    font-weight: $weight_normal;
    font-size: $font_size_normal;
    color: rgba($colour_normal, 0.87);
} 

footer {
    border-top: $line_width solid rgba($colour_normal, 0.54);
    padding-top: 0.5em;

    p {
        color: rgba($colour_normal, 0.54);
    }
}
