@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,600');

$colour_normal: rgb(0, 0, 0);
$colour_accent: rgb(192, 80, 70);
$font_size_normal: 1em;
$font_size_large: $font_size_normal * 1.5;
$font_weight_normal: 300;
$font_weight_bold: 600;
$line_width: 0.08em;
$alpha_normal: 87%;
$alpha_light: 54%;

* {
    margin: 0;
    padding: 0
}

body {
    margin: $font_size_large / 2;

    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    color: rgba($colour_normal, $alpha_normal);
}

header {
    margin: $font_size_large / 2;
    border-bottom: $line_width solid rgba($colour_normal, $alpha_light);
    padding: $font_size_large / 2 0;
}

main {
    margin: $font_size_large / 2;
}

#title, #title a {
    font-weight: $font_weight_bold;
    font-size: $font_size_large;
    color: rgba($colour_normal, $alpha_light) 
}

#subtitle {
    font-weight: $font_weight_bold;
    font-size: $font_size_large;
    color: rgba($colour_accent, $alpha_normal) 
}

h1 {
    font-weight: $font_weight_normal;
    font-size: $font_size_large;
}

h2 {
    padding: 1em 0 0 0;
    font-weight: $font_weight_bold;
    font-size: $font_size_normal;
    color: rgba($colour_accent, $alpha_normal) 
}

p, li {
    font-weight: $font_weight_normal;
    font-size: $font_size_normal;
} 

p + p {
    margin-top: $font_size_normal / 2;
}

a {
    text-decoration: none;
}

a:hover {
    background-color: rgba($colour_accent, 25%);
}

p a {
    color: rgba($colour_accent, $alpha_normal);    
}

ul {
    list-style: none;
    padding-left: 0;
}

ul > li::before {
    content: "- ";
}

footer {
    clear: both;
    margin: $font_size_large / 2;
    padding: $font_size_large / 2 0;
    border-top: $line_width solid rgba($colour_normal, $alpha_light);

    p {
        color: rgba($colour_normal, $alpha_light);
    }

    div {
        width: 100%;
        float: left;
    }
}

// TODO: responsive design
//       - page margins for desktop/mobile
//       - footer layout for desktop/mobile
//       print style sheet